In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine


## import pwd
from config import password

In [2]:
#read csv into pandas
homeless_pop = pd.read_csv("homelessness.csv")

homeless_pop

,Year,State,CoC Number,CoC Name,Measures,Count
0,1/1/2007,AK,AK-500,Anchorage CoC,Chronically Homeless Individuals,224
1,1/1/2007,AK,AK-500,Anchorage CoC,Homeless Individuals,696
2,1/1/2007,AK,AK-500,Anchorage CoC,Homeless People in Families,278
3,1/1/2007,AK,AK-500,Anchorage CoC,Sheltered Chronically Homeless Individuals,187
4,1/1/2007,AK,AK-500,Anchorage CoC,Sheltered Homeless,842
...,...,...,...,...,...,...
86524,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Homeless Unaccompanied Youth (Unde...,7
86525,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Homeless Veterans,31
86526,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Parenting Youth (Under 25),3
86527,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Parenting Youth Age 18-24,3
86528,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered Parenting Youth Under 18,0

In [3]:
# #identify the data that is FL only
# fl_homeless_pop = homeless_pop.loc[homeless_pop["State"] == "FL"]
# fl_homeless_pop

#take commas out of the count column
homeless_pop["Count"] = homeless_pop["Count"].str.replace(",","")
homeless_pop["Count"] = pd.to_numeric(homeless_pop["Count"])

In [4]:
homeless_pop["Measures"] = homeless_pop["Measures"].str.replace(" ","_")
homeless_pop

,Year,State,CoC Number,CoC Name,Measures,Count
0,1/1/2007,AK,AK-500,Anchorage CoC,Chronically_Homeless_Individuals,224
1,1/1/2007,AK,AK-500,Anchorage CoC,Homeless_Individuals,696
2,1/1/2007,AK,AK-500,Anchorage CoC,Homeless_People_in_Families,278
3,1/1/2007,AK,AK-500,Anchorage CoC,Sheltered_Chronically_Homeless_Individuals,187
4,1/1/2007,AK,AK-500,Anchorage CoC,Sheltered_Homeless,842
...,...,...,...,...,...,...
86524,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered_Homeless_Unaccompanied_Youth_(Unde...,7
86525,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered_Homeless_Veterans,31
86526,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered_Parenting_Youth_(Under_25),3
86527,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered_Parenting_Youth_Age_18-24,3
86528,1/1/2016,WY,WY-500,Wyoming Statewide CoC,Unsheltered_Parenting_Youth_Under_18,0

In [5]:
#pivot the table so the measures are the headers instead of rows
homeless_new = homeless_pop.pivot_table(index=["Year", "State", "CoC Number", "CoC Name"],values = ["Count"], columns=["Measures"], aggfunc=np.max)
homeless_new.head()

                                                                                                   Count  \
Measures                                                                     Children_of_Parenting_Youth
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                              NaN
               AK-501     Alaska Balance of State CoC                                                NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                         NaN
               AL-501     Mobile City & County/Baldwin County CoC                                    NaN
               AL-502     Florence/Northwest Alabama CoC                                             NaN

                                                                                                   \
Measures                                                                     Chronically_Homeless
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                       NaN
               AK-501     Alaska Balance of State CoC                                         NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                  NaN
               AL-501     Mobile City & County/Baldwin County CoC                             NaN
               AL-502     Florence/Northwest Alabama CoC                                      NaN

                                                                                                               \
Measures                                                                     Chronically_Homeless_Individuals
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                 224.0
               AK-501     Alaska Balance of State CoC                                                    54.0
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                            516.0
               AL-501     Mobile City & County/Baldwin County CoC                                        84.0
               AL-502     Florence/Northwest Alabama CoC                                                  8.0

                                                                                                                      \
Measures                                                                     Chronically_Homeless_People_in_Families
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                          NaN
               AK-501     Alaska Balance of State CoC                                                            NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                     NaN
               AL-501     Mobile City & County/Baldwin County CoC                                                NaN
               AL-502     Florence/Northwest Alabama CoC                                                         NaN

                                                                                                   \
Measures                                                                     Homeless_Individuals
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                     696.0
               AK-501     Alaska Balance of State CoC                                       366.0
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...               1529.0
               AL-501     Mobile City & County/Baldwin County CoC                           499.0
               AL-502     Florence/Northwest Alabama CoC                                    143.0

                                                                                                          \
Measures                                                                     Homeless_People_in_Families
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                            278.0
               AK-501     Alaska Balance of State CoC                                              302.0
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                       575.0
               AL-501     Mobile City & County/Baldwin County CoC                                  150.0
               AL-502     Florence/Northwest Alabama CoC                                           122.0

                                                                                                                         \
Measures                                                                     Homeless_Unaccompanied_Children_(Under_18)
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                             NaN
               AK-501     Alaska Balance of State CoC                                                               NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                        NaN
               AL-501     Mobile City & County/Baldwin County CoC                                                   NaN
               AL-502     Florence/Northwest Alabama CoC                                                            NaN

                                                                                                                              \
Measures                                                                     Homeless_Unaccompanied_Young_Adults_(Age_18-24)
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                                  NaN
               AK-501     Alaska Balance of State CoC                                                                    NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                             NaN
               AL-501     Mobile City & County/Baldwin County CoC                                                        NaN
               AL-502     Florence/Northwest Alabama CoC                                                                 NaN

                                                                                                                      \
Measures                                                                     Homeless_Unaccompanied_Youth_(Under_25)
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                          NaN
               AK-501     Alaska Balance of State CoC                                                            NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                     NaN
               AL-501     Mobile City & County/Baldwin County CoC                                                NaN
               AL-502     Florence/Northwest Alabama CoC                                                         NaN

                                                                                                \
Measures                                                                     Homeless_Veterans
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                    NaN
               AK-501     Alaska Balance of State CoC                                      NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...               NaN
               AL-501     Mobile City & County/Baldwin County CoC                          NaN
               AL-502     Florence/Northwest Alabama CoC                                   NaN

                                                                              ...  \
Measures                                                                      ...
Year     State CoC Number CoC Name                                            ...
1/1/2007 AK    AK-500     Anchorage CoC                                       ...
               AK-501     Alaska Balance of State CoC                         ...
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...  ...
               AL-501     Mobile City & County/Baldwin County CoC             ...
               AL-502     Florence/Northwest Alabama CoC                      ...

                                                                                                   \
Measures                                                                     Unsheltered_Homeless
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                     132.0
               AK-501     Alaska Balance of State CoC                                       123.0
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                864.0
               AL-501     Mobile City & County/Baldwin County CoC                           239.0
               AL-502     Florence/Northwest Alabama CoC                                    134.0

                                                                                                               \
Measures                                                                     Unsheltered_Homeless_Individuals
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                 107.0
               AK-501     Alaska Balance of State CoC                                                    64.0
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                            696.0
               AL-501     Mobile City & County/Baldwin County CoC                                       239.0
               AL-502     Florence/Northwest Alabama CoC                                                 50.0

                                                                                                                      \
Measures                                                                     Unsheltered_Homeless_People_in_Families
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                         25.0
               AK-501     Alaska Balance of State CoC                                                           59.0
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                   168.0
               AL-501     Mobile City & County/Baldwin County CoC                                                0.0
               AL-502     Florence/Northwest Alabama CoC                                                        84.0

                                                                                                                                     \
Measures                                                                     Unsheltered_Homeless_Unaccompanied_Children_(Under_18)
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                                     NaN
               AK-501     Alaska Balance of State CoC                                                                       NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                                NaN
               AL-501     Mobile City & County/Baldwin County CoC                                                           NaN
               AL-502     Florence/Northwest Alabama CoC                                                                    NaN

                                                                                                                                          \
Measures                                                                     Unsheltered_Homeless_Unaccompanied_Young_Adults_(Age_18-24)
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                                     NaN
               AK-501     Alaska Balance of State CoC                                                                       NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                                NaN
               AL-501     Mobile City & County/Baldwin County CoC                                                           NaN
               AL-502     Florence/Northwest Alabama CoC                                                                    NaN

                                                                                                                                  \
Measures                                                                     Unsheltered_Homeless_Unaccompanied_Youth_(Under_25)
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                                     NaN
               AK-501     Alaska Balance of State CoC                                                                       NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                                NaN
               AL-501     Mobile City & County/Baldwin County CoC                                                           NaN
               AL-502     Florence/Northwest Alabama CoC                                                                    NaN

                                                                                                            \
Measures                                                                     Unsheltered_Homeless_Veterans
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                NaN
               AK-501     Alaska Balance of State CoC                                                  NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                           NaN
               AL-501     Mobile City & County/Baldwin County CoC                                      NaN
               AL-502     Florence/Northwest Alabama CoC                                               NaN

                                                                                                                     \
Measures                                                                     Unsheltered_Parenting_Youth_(Under_25)
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                         NaN
               AK-501     Alaska Balance of State CoC                                                           NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                    NaN
               AL-501     Mobile City & County/Baldwin County CoC                                               NaN
               AL-502     Florence/Northwest Alabama CoC                                                        NaN

                                                                                                                    \
Measures                                                                     Unsheltered_Parenting_Youth_Age_18-24
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                        NaN
               AK-501     Alaska Balance of State CoC                                                          NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                   NaN
               AL-501     Mobile City & County/Baldwin County CoC                                              NaN
               AL-502     Florence/Northwest Alabama CoC                                                       NaN


Measures                                                                     Unsheltered_Parenting_Youth_Under_18
Year     State CoC Number CoC Name
1/1/2007 AK    AK-500     Anchorage CoC                                                                       NaN
               AK-501     Alaska Balance of State CoC                                                         NaN
         AL    AL-500     Birmingham/Jefferson, St. Clair, Shelby Countie...                                  NaN
               AL-501     Mobile City & County/Baldwin County CoC                                             NaN
               AL-502     Florence/Northwest Alabama CoC                                                      NaN

[5 rows x 42 columns]

In [6]:
#reset df.columns 
homeless_new.columns = homeless_new.columns.get_level_values(1)

In [7]:
homeless_new.columns[0]

'Children_of_Parenting_Youth'

In [10]:
homeless_new.columns

Index(['Children_of_Parenting_Youth', 'Chronically_Homeless',
       'Chronically_Homeless_Individuals',
       'Chronically_Homeless_People_in_Families', 'Homeless_Individuals',
       'Homeless_People_in_Families',
       'Homeless_Unaccompanied_Children_(Under_18)',
       'Homeless_Unaccompanied_Young_Adults_(Age_18-24)',
       'Homeless_Unaccompanied_Youth_(Under_25)', 'Homeless_Veterans',
       'Parenting_Youth_(Under_25)', 'Parenting_Youth_Age_18-24',
       'Parenting_Youth_Under_18', 'Sheltered_Children_of_Parenting_Youth',
       'Sheltered_Chronically_Homeless',
       'Sheltered_Chronically_Homeless_Individuals',
       'Sheltered_Chronically_Homeless_People_in_Families',
       'Sheltered_Homeless', 'Sheltered_Homeless_Individuals',
       'Sheltered_Homeless_People_in_Families',
       'Sheltered_Homeless_Unaccompanied_Children_(Under_18)',
       'Sheltered_Homeless_Unaccompanied_Young_Adults_(Age_18-24)',
       'Sheltered_Homeless_Unaccompanied_Youth_(Under_25)',
       'Sheltered_Homeless_Veterans', 'Sheltered_Parenting_Youth_(Under_25)',
       'Sheltered_Parenting_Youth_Age_18-24',
       'Sheltered_Parenting_Youth_Under_18', 'Total_Homeless',
       'Unsheltered_Children_of_Parenting_Youth',
       'Unsheltered_Chronically_Homeless',
       'Unsheltered_Chronically_Homeless_Individuals',
       'Unsheltered_Chronically_Homeless_People_in_Families',
       'Unsheltered_Homeless', 'Unsheltered_Homeless_Individuals',
       'Unsheltered_Homeless_People_in_Families',
       'Unsheltered_Homeless_Unaccompanied_Children_(Under_18)',
       'Unsheltered_Homeless_Unaccompanied_Young_Adults_(Age_18-24)',
       'Unsheltered_Homeless_Unaccompanied_Youth_(Under_25)',
       'Unsheltered_Homeless_Veterans',
       'Unsheltered_Parenting_Youth_(Under_25)',
       'Unsheltered_Parenting_Youth_Age_18-24',
       'Unsheltered_Parenting_Youth_Under_18'],
      dtype='object', name='Measures')

In [11]:
# #connect to the postgress engine
# postgres_conn_string = f"postgres:{password}" 
# engine = create_engine(f"postgresql://{postgres_conn_string}@localhost:5432/housing", paramstyle="format")

In [12]:
engine = create_engine(f"sqlite:///all_homeless.db")

In [16]:
#check for the tables that should already be in postgress
engine.table_names()
# df = pd.read_sql('select * from homelessness', engine)
# df.columns

['homelessness']

In [25]:
homeless_new = homeless_new.reset_index()
homeless_new

Measures,index,year,state,CoC_number,CoC_name,Children_of_Parenting_Youth,Chronically_Homeless,Chronically_Homeless_Individuals,Chronically_Homeless_People_in_Families,Homeless_Individuals,...,Unsheltered_Homeless,Unsheltered_Homeless_Individuals,Unsheltered_Homeless_People_in_Families,Unsheltered_Homeless_Unaccompanied_Children_(Under_18),Unsheltered_Homeless_Unaccompanied_Young_Adults_(Age_18-24),Unsheltered_Homeless_Unaccompanied_Youth_(Under_25),Unsheltered_Homeless_Veterans,Unsheltered_Parenting_Youth_(Under_25),Unsheltered_Parenting_Youth_Age_18-24,Unsheltered_Parenting_Youth_Under_18
0,0,2007,AK,AK-500,Anchorage CoC,NaN,NaN,224.0,NaN,696.0,...,132.0,107.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2007,AK,AK-501,Alaska Balance of State CoC,NaN,NaN,54.0,NaN,366.0,...,123.0,64.0,59.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2007,AL,AL-500,"Birmingham/Jefferson, St. Clair, Shelby Counti...",NaN,NaN,516.0,NaN,1529.0,...,864.0,696.0,168.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2007,AL,AL-501,Mobile City & County/Baldwin County CoC,NaN,NaN,84.0,NaN,499.0,...,239.0,239.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2007,AL,AL-502,Florence/Northwest Alabama CoC,NaN,NaN,8.0,NaN,143.0,...,134.0,50.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3994,3994,2016,WV,WV-500,Wheeling/Weirton Area CoC,2.0,28.0,26.0,2.0,64.0,...,3.0,3.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3995,3995,2016,WV,WV-501,"Huntington/Cabell, Wayne Counties CoC",14.0,13.0,13.0,0.0,136.0,...,16.0,16.0,0.0,0.0,1.0,1.0,3.0,0.0,0.0,0.0
3996,3996,2016,WV,WV-503,"Charleston/Kanawha, Putnam, Boone, Clay Counti...",2.0,40.0,40.0,0.0,266.0,...,32.0,32.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
3997,3997,2016,WV,WV-508,West Virginia Balance of State CoC,17.0,84.0,82.0,2.0,573.0,...,84.0,84.0,0.0,1.0,10.0,11.0,8.0,0.0,0.0,0.0
3998,3998,2016,WY,WY-500,Wyoming Statewide CoC,17.0,91.0,80.0,11.0,517.0,...,366.0,240.0,126.0,2.0,5.0,7.0,31.0,3.0,3.0,0.0

In [18]:
homeless_new.columns
columns = [col for col in homeless_new.columns if col not in ['level_0', 'index']]
homeless_new = homeless_new[columns]

In [19]:
homeless_new = homeless_new.rename(columns = {
    'Year': 'year',
    'State': 'state',
    'CoC Number': 'CoC_number',
    'CoC Name': 'CoC_name'
})

homeless_new['year'] = pd.DatetimeIndex(homeless_new['year']).year

In [23]:
#need to know how to push to sqlite
homeless_new.to_sql(name='homelessness', con=engine, if_exists='append', index=False)

In [24]:
pd.read_sql_query('select * from homelessness', con=engine).head()

,year,state,CoC_number,CoC_name,Children_of_Parenting_Youth,Chronically_Homeless,Chronically_Homeless_Individuals,Chronically_Homeless_People_in_Families,Homeless_Individuals,Homeless_People_in_Families,...,Unsheltered_Homeless,Unsheltered_Homeless_Individuals,Unsheltered_Homeless_People_in_Families,Unsheltered_Homeless_Unaccompanied_Children_(Under_18),Unsheltered_Homeless_Unaccompanied_Young_Adults_(Age_18-24),Unsheltered_Homeless_Unaccompanied_Youth_(Under_25),Unsheltered_Homeless_Veterans,Unsheltered_Parenting_Youth_(Under_25),Unsheltered_Parenting_Youth_Age_18-24,Unsheltered_Parenting_Youth_Under_18
0,2007,FL,FL-500,"Sarasota/Bradenton/Manatee, Sarasota Counties CoC",NaN,NaN,135.0,NaN,777.0,235.0,...,518.0,435.0,83.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2007,FL,FL-501,Tampa/Hillsborough County CoC,NaN,NaN,528.0,NaN,4397.0,2086.0,...,5433.0,3813.0,1620.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2007,FL,FL-502,St. Petersburg/Clearwater/Largo/Pinellas Count...,NaN,NaN,611.0,NaN,2129.0,397.0,...,1221.0,1218.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2007,FL,FL-503,Lakeland/Winter Haven/Polk County CoC,NaN,NaN,197.0,NaN,593.0,209.0,...,315.0,257.0,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2007,FL,FL-504,"Daytona Beach/Daytona/Volusia, Flagler Countie...",NaN,NaN,184.0,NaN,854.0,624.0,...,909.0,651.0,258.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN