In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [ ]:
csv = pd.read_csv('median_income_data.csv')
csv.head()

In [ ]:
# This is how I knew which rows were specifically for Florida

# florida = csv.loc[csv['Table with row headers in column A and column headers in rows 5 and 6, and 60 and 61'] == 'Florida']
# florida

In [ ]:
flipped_csv = csv.T.reset_index(); 
flipped_csv.head()

In [ ]:
flipped_csv.columns = flipped_csv.iloc[0]
flipped_csv.head()

In [ ]:
# It was literally faster and easier to type out 34 years worth of numerals than to fight with Pandas to convert and reconvert the array to usable data
years = [1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
# pd.DataFrame(years)

years.reverse()
years

In [ ]:
# Here we're going to narrow the data set down to states and national averages
getting_states_data = flipped_csv.dropna(axis=1)
getting_states_data

In [ ]:
# I noticed we have duplicated states, lets get rid of those...
narrowed_data = df = getting_states_data.loc[:,~getting_states_data.columns.duplicated()]
narrowed_data

In [ ]:
# Getting rid of the first column with the weird name
mean_state_data = narrowed_data.drop(columns = 'Table with row headers in column A and column headers in rows 5 and 6, and 60 and 61')
mean_state_data

In [ ]:
# We're going to flip the columns again and make the states the index
making_missy_elliot_proud = mean_state_data.T 
making_missy_elliot_proud.head()

In [ ]:
# # Cool, now I need to drop the first column, then every other column, and then use "years" as the column headers
dropping_first_column = making_missy_elliot_proud.drop(axis=1, columns=0)
dropping_first_column

# # Saving for now -- Will need to see how many columns need to go
# dropping_first_column.to_csv('almost_done_all_states', index=True)

In [ ]:
# We needed to drop it down to 37 columns because we have 37 years of data
narrowed_columns = dropping_first_column[dropping_first_column.columns[::2]]
narrowed_columns.head()

In [ ]:
# We're almost done here, I should be able to rename the columns using the "years" list we created and reversed earlier
df2 = narrowed_columns.set_axis([years], axis=1, inplace=False)
df2

In [ ]:
df2 = df2.reset_index()
df2

In [ ]:
hopefully_fixed = df2.rename({0: "State"}, axis=1)
hopefully_fixed

In [ ]:
engine = create_engine(f"sqlite:///average_regional_incomes.db")

In [ ]:
hopefully_fixed.to_sql(name='avg_regional_incomes', con=engine, if_exists='append', index=False)

In [ ]:
engine.table_names()

In [ ]:
pd.read_sql_query('SELECT * FROM avg_regional_incomes', con=engine).head()